.stat-number {
  transition: transform 0.3s ease, color 0.3s ease;
}

.stat-number:hover {
  transform: scale(1.1);
  color: #ff9800;
}
.extra-padding{
  padding-bottom: 90px !important;
  padding-top: 100px !important;
}
.fs-45px{
  font-size: 45px;
}
